/*comment */

.h1{
	color: red;
	background-color: lightblue;
}
p.h2{
	text-align: center;
	color: green;
}
#h2{
	background: lightgray;
}
* {
  margin:0;
  padding:0;
}
/*comment body {
  background: url("img.png") no-repeat;
  background-size: 100% 800%;

}
*/

.dotted {border-style: dotted;
 border-left-style: solid;}
.dashed {border-style: dashed;}
.solid {
	border-style: solid;
	border-color: blue;
	 border-left-style: solid;
}
.double {border-style: double;}
.groove {border-style: groove;
 border: 5px solid red;
 border-radius: 5px;
}}
.ridge {border-style: ridge;
	margin: 0 0 50px 0;
	padding-bottom: 10px;
}
.inset {border-style: inset;
	margin: 0 0 50px 0;
	padding-top: 10px;
}
.outset {border-style: outset;}
.none {border-style: none;}
.hidden {border-style: hidden;}
.mix {border-style: dotted dashed solid double;
		border: 1px solid black;
  outline-style: solid;
  outline-color: red;
  outline-width: 4px;
    outline-offset: 15px;
	 background-color: black;
  color: white;
}
p {
  margin: 10px;
}
.temp{
	  border: 1px solid red;
	  margin-left: 50px;
}

.inherit{
	text-align: left;
	margin-left: inherit;
	
}
.box-model{
	background-color: lightgrey;
	width: 300px;
	border: 15px solid green;
	padding: 50px;
	margin: 20px;
	outline: 1px solid red;
	outline-offset: 15px;
	

	
}
.a {
  text-align-last: right;
}

.b {
  text-align-last: center;
}

.c {
  text-align-last: justify;
}
.d{
	background-color: blue;
	color: white;
	direction:rtl;
	unicode-bidi: bidi-override;

}
e.{
	text-decoration-line: overline;
}
.f{
	text-decoration-line: line-through;
}
.g{
	text-decoration-line: underline;
	  text-transform: uppercase;
	   line-height: 0.8;
}
.h{
	 text-decoration-line: overline underline;
	  text-decoration-color: green;
	  text-decoration-style: wavy;
	  text-transform: capitalize;
	  text-indent: 50px;
	   letter-spacing: 5px;
	   line-height: 1.8;
		 text-shadow: 2px 2px 5px red;
}
.i{
	background-color: lightblue;
	width: 300px;
	border: 15px solid green;
	padding: 50px;
	margin: 20px;
	outline: 1px solid red;
	utline-offset: 15px;
	outline-offset: 15px;
	letter-spacing: 10px;
	text-align: center;
	text-shadow: 1px 1px 1px black, 0 0 25px blue, 0 0 5px darkblue;
}

.j {
  font-family: Times New Roman, serif;
}

.k {
   font-family: "Sofia", sans-serif;
}

.l {
  font-family: monospace;
}
ol {
  background: #ff9999;
  padding: 20px;
}

ul {
  background: #3399ff;
  padding: 20px;
}

ol li {
  background: #ffe5e5;
  color: red;
  padding: 5px;
  margin-left: 35px;
}

ul li {
  background: #cce5ff;
  color: darkblue;
  margin: 5px;
  
 